  <form [formGroup]="addressForm" novalidate style="padding-top:60px" (ngSubmit)="onSubmit()">
    

        <div class="form-group col-md-5 col-sm-12 ">
          <div>
            <h3>Address Details</h3>
          </div>
          <div>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Name" formControlName="name" required #name>
                <button mat-button matSuffix aria-label="Super Category Name">
                </button>
                <mat-error *ngIf="addressForm.controls['name'].errors?.required">
                    Name
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Mobile Number" formControlName="mobileNumber" required #name>
                  <button mat-button matSuffix aria-label="Super Category Name">
                  </button>
                  <mat-error *ngIf="addressForm.controls['mobileNumber'].errors?.required">
                      Mobile Number
                    <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Street Address" formControlName="streetAddress" required #name>
              <button mat-button matSuffix aria-label="Super Category Name">
              </button>
              <mat-error *ngIf="addressForm.controls['streetAddress'].errors?.required">
                Street Address
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Building No" formControlName="building" required #name>
              <button mat-button matSuffix aria-label="Super Category Name">
              </button>
              <mat-error *ngIf="addressForm.controls['building'].errors?.required">
                Building No
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="LandMark" formControlName="landmark" required #name>
              <button mat-button matSuffix aria-label="Super Category Name">
              </button>
              <mat-error *ngIf="addressForm.controls['landmark'].errors?.required">
                LandMark
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="State" formControlName="state" required #name>
              <button mat-button matSuffix aria-label="Super Category Name">
              </button>
              <mat-error *ngIf="addressForm.controls['state'].errors?.required">
                State is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="PinCode" formControlName="pincode" required #name>
              <button mat-button matSuffix aria-label="Super Category Name">
              </button>
              <mat-error *ngIf="addressForm.controls['pincode'].errors?.required">
                PinCode is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="City" formControlName="city" required #name>
              <button mat-button matSuffix aria-label="Super Category Name">
              </button>
              <mat-error *ngIf="addressForm.controls['city'].errors?.required">
                City is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
      <button  class="registerButton" mat-raised-button color="primary" type="submit">Save</button>
    </div>
  </form>

