<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
        
        

<div class="row">
  <div class="col-md-6">

              <div class="form-group">
                <div formGroupName = "address">
                    <h3>Address</h3>
                <label>houseno</label>
                <input type="text" formControlName="houseno" /><br>

                <label>building</label>
                <input type="text" formControlName="building" /><br>


                <label>street</label>
                <input type="text" formControlName="street" /><br>
                <label>area</label>
                <input type="text" formControlName="area" /> <br>

                <label>landmark</label>
                <input type="text" formControlName="landmark" /><br>


              </div>

            </div>
          </div>

<div class="col-md-6">
  <div class="form-group city-state">
    <div class="city">
      <label>City</label>
      <input type="text" formControlName="city" />
    </div>
    <div class="state">
      <label>State</label>
      <select formControlName="state">
        <option *ngFor="let state of states" [ngValue]="state">{{state}}</option>
      </select>
    </div>
    <div class="form-group zip">
      <label>pincode</label>
      <input type="text" formControlName="pincode" />
    </div>
  </div>
</div>
              
              <button type="reset" class="btn btn-success">CANCEL</button>
              <button type="submit" class="btn btn-primary">SAVE</button>
      
      </div>
    </form>
    </div>

  </div>
</div> -->

<div class="pageBoxLgs">
  <form [formGroup]="addressForm" novalidate style="padding-top:60px" (ngSubmit)="onSubmit()">
    <div class="container-fluid ">
      <div class="row pageBoxLg">

        <div class="form-group col-md-5 col-sm-12 ">
          <div>
            <h3>Address Details</h3>
          </div>
          <div>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Name" formControlName="name" required #name>
                <button mat-button matSuffix aria-label="Super Category Name">
                </button>
                <mat-error *ngIf="addressForm.controls['name'].errors?.required">
                    Name
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Mobile Number" formControlName="mobileNumber" required #name>
                  <button mat-button matSuffix aria-label="Super Category Name">
                  </button>
                  <mat-error *ngIf="addressForm.controls['mobileNumber'].errors?.required">
                      Mobile Number
                    <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Street Address" formControlName="streetAddress" required #name>
              <button mat-button matSuffix aria-label="Super Category Name">
              </button>
              <mat-error *ngIf="addressForm.controls['streetAddress'].errors?.required">
                Street Address
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Building No" formControlName="building" required #name>
              <button mat-button matSuffix aria-label="Super Category Name">
              </button>
              <mat-error *ngIf="addressForm.controls['building'].errors?.required">
                Building No
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="LandMark" formControlName="landmark" required #name>
              <button mat-button matSuffix aria-label="Super Category Name">
              </button>
              <mat-error *ngIf="addressForm.controls['landmark'].errors?.required">
                LandMark
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="State" formControlName="state" required #name>
              <button mat-button matSuffix aria-label="Super Category Name">
              </button>
              <mat-error *ngIf="addressForm.controls['state'].errors?.required">
                State is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="PinCode" formControlName="pincode" required #name>
              <button mat-button matSuffix aria-label="Super Category Name">
              </button>
              <mat-error *ngIf="addressForm.controls['pincode'].errors?.required">
                PinCode is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="City" formControlName="city" required #name>
              <button mat-button matSuffix aria-label="Super Category Name">
              </button>
              <mat-error *ngIf="addressForm.controls['city'].errors?.required">
                City is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        
      </div>
      <button type="reset" class="btn btn-success">CANCEL</button>
      <button type="submit" class="btn btn-primary">SAVE</button>

    </div>

  </form>
</div>