<!-- <nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">
    <img [src]="logoImage">
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <div class="searchBox">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline- my-2 my-sm-0" type="submit"><i class="fa fa-search text-white"></i>
          </button>
        </form>
      </div>
    </ul>
    <div class="navbar-collapse collapse justify-content-end">
    <ul class="navbar-nav">
      <li><a routerLink="product/shopping" class="nav-link navText" href="#"><i class="fa fa-shopping-cart"
            aria-hidden="true"></i><span class="badge badge-light"></span>
          {{this.sharedService.addToQty()}}</a>
      </li>
      <li class="dropdown">
        <a class="nav-link navText" (click)="navBarShow()" data-toggle="dropdown">Account<span
            class="fa fa-angle-down"></span></a>
        <ul class="dropdown-menu megaMenu" role="menu" [ngClass]="{show: dropdownShow}">
            <li class="nav-item">
              <a class="nav-link navText"  (click)="navBarShow()"  routerLink="/account/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navText" (click)="navBarShow()"  routerLink="/account/listaddress">Address</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navText"  (click)="navBarShow()"  routerLink="/account/listcard">Card</a>
            </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link navText" routerLink="/account/signin">login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navText" routerLink="/account/registration">Signup</a>
      </li>
    </ul>
  </div>
  </div>
</nav> -->
<app-category></app-category>