<div class="container-fluid">
  <div *ngIf="productModel$ | async as id">
  <div class="row">
    <!-- List of Products -->
      <div class="col-sm-4" *ngFor="let product of productModel">
        <div class="gridImage">
          <img class="img-fluid" [src]="product.productImageName[0]" />
          <!-- <div class="card-footer">
            <div class="displayBuyNow">
              <button type="button" (click)="addToCart(product)" class="btn btn-danger">ADD CART</button>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
