<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Buyer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">CART {{productService.cartCount}}
          <span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <!-- List of Products -->
    <div class="col-sm-4" *ngFor="let product of productModel">
      <div class="card">

        <img class="img-fluid" [src]="product.productImageName[0]" />
        <div class="card-footer">
          <div class="displayBuyNow">
            <button type="button" (click)="addToCart(product)" class="btn btn-danger">ADD CART</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
