
.cartHeader {
    padding-top: 2%;
    font-weight: 500;
    text-align: center;
    color: #697071;
  }
  
 
  .registerSetup   {
    margin-bottom: 5%;
  }
  .registerCard {
    margin: 3%;
    border-radius: 0;
    box-shadow: 0 0 4px rgba(40,44,63,0.08);
    border: 1px solid #eaeaec;
  }

  .addButton {
    margin: 20px auto;
    border: 0.5px solid #d4d5d9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 800;
    color: #526cd0;
    padding: 12px;
    text-align: center;
    width: 180px;
    cursor: pointer;
}

.listOfRow {
    background-color: white;
    margin-bottom: 6px;
    color: #696E79;
    display: block;
}
.actionClass {
    margin: 10px auto;
    text-transform: uppercase;
    font-weight: 800;
    color: #696E79;
    padding: 5px;
    text-align: center;
    width: 180px;
    cursor: pointer;
}
.registerButton {
  background-color:  rgb(179, 179, 179)!important;
  color: #999999;
   font-size: 13px;
   font-weight: 500;
   letter-spacing: 2px;
   display: block;
   width: 100%;
   text-transform: uppercase;
   border: 6px;
   border-radius: 30px;
 }
 .h-one{
  color: #474747;
  font-size: 16px;
  padding-top: 10px;
  
    }
    .navbar-expand-lg{
      background: rgb(179, 179, 179);
    }